Flask==2.2.5
Flask-Cors==3.0.10
nltk==3.8.1
spacy==3.5.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
gunicorn==20.1.0
pydantic==1.8.2
